.logo {
  all: unset;
  display: flex;
  align-items: center;
  font-family: Kanit;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.ele {
  font-size: 30px;
  width: 60px;
  height: 60px;
}

.text {
  padding-top: 30px;
}
