.rotatingWord {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 172px; /* Adjust this width to fit your content */
  height: 20px; /* Adjust this height to fit your content */
}

.word {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  opacity: 0;
}

.letter {
  display: inline-block;
  opacity: 0; /* Initially hide letters */
  transform: translateY(-100%); /* Initially position letters off-screen */
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.letter.in {
  transform: translateY(0);
  opacity: 1;
}

/* Add specific styles for your words (colors, etc.) */
.alizarin {
  color: #fd786a;
}

.wisteria {
  color: #c642ff;
}

.peterRiver {
  color: #33abfc;
}

.emerald {
  color: #2ecc71;
}

.sunFlower {
  color: #f1c40f;
}
