.active {
  all: unset;
  padding: 10px;
  cursor: pointer;
  font-family: Teko;
  font-size: 22px;
}

.notActive {
  all: unset;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(130, 130, 130);
  font-family: Teko;
  font-size: 22px;
}

.notActive:hover {
  color: white;
}
