.homeContainer {
  display: flex;
  align-items: center;
  height: 100vh;
}

.eleContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.circularGradient {
  grid-row: 1;
  grid-column: 1;
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(128, 128, 128, 0) 20%,
    rgb(235, 225, 224) 80%
  );
}

.ele {
  grid-row: 1;
  grid-column: 1;
  height: 100vh;
  max-height: 700px;
}

@media (max-width: 1400px) {
  .ele {
    max-height: 50vw;
  }
}

.mainText {
  max-width: 850px;
}

.link {
  all: unset;
  cursor: pointer;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 1150px) {
  .homeContainer {
    flex-direction: column;
  }
  .ele {
    max-height: 300px;
  }

  .mainText {
    max-width: auto;
  }
}
